@media (max-width:1200px){
    .our-primary-menu ul li a {
        padding: 10px 10px;
    }
    .header-search {
        width: 60px;
        font-size: 22px;
        margin-right: 15px;
    }
    body .btn-primary {
        padding: 10px 23px;
        font-size: 10px;
    }
    .header-call {
        width: 190px;
    }
    .header-call-info a {
        font-size: 14px;
    }
    .slider-content h1 {
        font-size: 40px;
    }
    .slider-content p {
        font-size: 17px;
        color: black;
    }
}